<div class="container">
    <h6>Novo</h6>

    <form #adduserform="ngForm" (ngSubmit)="addItemformsubmit()">
        <!-- {{ item | json }} -->

        <div class="form-group">
            <label for="id">id:</label>
            <input type="text" class="form-control" required [(ngModel)]="item.id" name="id" />
        </div>

        <div class="form-group">
            <label for="desc">Descrição:</label>
            <input type="text" class="form-control" required [(ngModel)]="item.desc" name="desc" />
        </div>

        <button type="submit" class="btn btn-success">Enviar</button>&nbsp;
        <button type="submit" class="btn btn-primary" (click)="gotolist()">
      Voltar
    </button>
    </form>
</div>